@using Newtonsoft.Json
@model IEnumerable<SchoolManagementProject.Models.Teacher>
@{
    Layout = "_Dashboard";
    ViewBag.PageTitle = "Teachers";
    ViewBag.SubPageTitle = "Index";
    ViewData["Title"] = "Teachers List";

    var jsonSerializerSettings = new JsonSerializerSettings
    {
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
        Formatting = Formatting.Indented
    };

    var serializedData = JsonConvert.SerializeObject(Model, jsonSerializerSettings);
}

<h2 class="headingClass">Teachers</h2>

<div>
    <a asp-action="Create" class="btn btn-success mb-3">Create Teacher</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">No teachers found.</div>
}
else
{
    <div id="Grid"></div>
}

@section Scripts {
    <script id="profilePictureTemplate" type="text/x-template">
        <div class="text-center">
        <img src="${ImageFullPath}" alt="Teacher"
        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 1px solid #ddd;"
        onerror="this.src='/images/teacher.png';" />
        </div>
    </script>

    <script id="actionTemplate" type="text/x-template">
        <a href="/Teachers/Edit/${Id}" class="btn btn-warning me-2">Edit</a> 
        <a href="/Teachers/Delete/${Id}" class="btn btn-danger me-2">Delete</a> 
        <a href="/Teachers/Details/${Id}" class="btn btn-primary">Details</a> 
    </script>

    <script>
        $(document).ready(function () {
            var serializedData = @Html.Raw(serializedData); 

            serializedData.forEach(function (teacher) {
                switch (teacher.Status) {
                    case 0: 
                        teacher.StatusText = "Pending";
                        break;
                    case 1: 
                        teacher.StatusText = "Active";
                        break;
                    case 2: 
                        teacher.StatusText = "Inactive";
                        break;
                }
            });

            var grid = new ej.grids.Grid({
                dataSource: serializedData,
                allowPaging: true,           
                allowSorting: true,           
                allowFiltering: true,     
                allowGrouping: true,         
                filterSettings: { type: 'Menu' }, 
                pageSettings: { pageSize: 10 },
                toolbar: ['Search'],     
                groupSettings: { showGroupedColumn: true },
                columns: [
                    {
                        field: "ImageFullPath",
                        headerText: "Profile Picture",
                        width: 100,
                        textAlign: "Center",
                        template: "#profilePictureTemplate"
                    },
                    { field: "FirstName", headerText: "First Name", width: 120 },
                    { field: "LastName", headerText: "Last Name", width: 120 },
                    { field: "AcademicDegree", headerText: "Academic Degree", width: 150 },
                    {
                        field: "FormattedHireDate", 
                        headerText: "Hire Date",
                        width: 150
                    },
                    { field: "StatusText", headerText: "Status", width: 100 }, 
                    {
                        headerText: "Actions",
                        width: 180,
                        textAlign: "Center",
                        template: "#actionTemplate"
                    }
                ]
            });

            grid.appendTo("#Grid"); 
        });
    </script>
}
